body {
  color: rgb(75, 75, 75);
  background-image: url('../images/backplane.svg');
  background-size: cover;
  font-family: 'Open Sans';
  -webkit-font-smoothing: subpixel-antialiased;
}
.guy {
  display: inline-block;
  width: 16vw;
  height: 48vh;
  background-image: url('../images/guy.svg');
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  margin-left: 2.5em;
  margin-right: 2.5em;
}
.guy-name {
  position: relative;
  text-align: center;
  top: 25vh;
}
.frame {
  width: 90vw;
  height: 20vh;
}
.container {
/*  width: 100vw;*/
  position: relative;
/*  border: 1px dotted grey;*/
  text-align: center;
}
.block {
  display: inline-block;
}
.left-align {
  text-align: left;
}
.round {
  border: 0.1em solid grey;
  border-radius: 4em;
  padding: 2.5em;
}
.l-text {
  font-size: 30px;
}
.s-text {
  font-size: 10px;
}
.correct-left {
  left: -20vw;
  position: relative;
}
p {
  font-size: 30px;
}
#doc {
  position: fixed:
  opacity: 0.2;
  position: fixed;
  left: 17%;
  width: 14%;
}
#c-r {
  position: fixed;
  top: -8em;
  left: -20em;
  opacity: 0.5;
}
#ts-r {
  position: fixed;
  top: 16vh;
  left: -26vh;
}
#dev-r {
  position: fixed;
  top: -20vh;
  left: 0;
}
#qa-r {
  position: fixed;
  top: 16vh;
  left: 26vh;
}
#world {
  height: 74vh;
}
#how {
  position: fixed;
  top: 0;
  left: 3vw;
  opacity: 0.2;
}
#backplane {
  position: static;
  top: -1em;
  left: -1em;
  width: 100%;
}
#buenos-aires {
  left: 28.1%;
  top: 78.6%;
  position: fixed;
  width: 3%;
}
#moscow {
  left: 57.5%;
  top: 22.6%;
  position: fixed;
  width: 3%;
}

#logo {
  position: fixed;
  top: 15%;
  left: 10%;
  width: 83%;
  z-index: 100;
}
#logo_desc {
  position: fixed;
  top: 67%;
  font-size: 2em;
  width: 100%;
  text-align: center;
  z-index: 100;
}
#dev-desc {
  left: -30vh;
  position: relative;
}
#centers-list {
  top: -14%;
  left: 0;
  position: fixed;
}
#deliver {
  position: relative;
  -webkit-transform: scale(2, -2);
  transform: scale(2, -2);
  left: 15vh;
  top: 42vh;
}
#product {
  position: relative;
  top: 35vh;
  /* left: -16vh; */
  width: 10vw;
  /* margin-left: 7vw; */
  margin-right: 7vw;
}
#logs {
  padding-left: 4%;
  padding-right: 4%;
  background: rgb(75, 75, 75);
  color: rgb(200, 200, 200);
  margin-left: 15em;
}
#c-s {
  position: fixed;
  -webkit-transform: translate(-570px,90px) rotate(240deg) scale(-1, 1);
  transform: translate(-570px,90px) rotate(240deg) scale(-1, 1);
}
#s-d {
  position: fixed;
  -webkit-transform: translate(-260px, -20px) rotate(-55deg) scale(2);
  transform: translate(-250px, -70px) rotate(-55deg) scale(2);
}
#d-q {
  position: fixed;
  -webkit-transform: translate(280px,-20px) rotate(55deg) scale(2);;
  transform: translate(280px,-20px) rotate(55deg) scale(2);;
}
#q-s {
  position: fixed;
  -webkit-transform: translate(0px,380px) rotate(180deg) scale(2);
  transform: translate(50px,380px) rotate(180deg) scale(2);
}
#increase {
  position: fixed;
  top: 0;
  right: 10%;
}
#jmpress {
  backface-visibility: hidden;
  transform: translateZ(0);
}
#team {
  position: fixed;
  top: -20%;
  left: -6%;
}
#funnel-1 {
  position: fixed;
  -webkit-transform: rotate(-60deg) scale(1) translate(-65px, -170px);
  transform:rotate(-60deg) scale(1) translate(-65px, -170px);
}
#funnel-2 {
  position: fixed;
  -webkit-transform: rotate(-60deg) scale(1) translate(-65px, -170px);
  transform:rotate(-60deg) scale(1) translate(-65px, -170px);
}
#toolbox {
  padding-top: 15%;
  width: 20vw;
}
.chart {
  height: 63vh;
  width: auto;;
}
.gap-left {
  padding-left: 5em;
}
.right {
  position: relative;
  right: -35em;
  top: -20em;
}
.fixed {
  position: fixed;
  top: 0;
}
.nowrap {
  white-space: nowrap;
}
#news {
/*  position: fixed;*/
/*  top: -1em;*/
/*  left: -0.5em;*/
  font-size: 10em;
  font-weight: 800;
  opacity: 0.1;
}
#timezone-b {
  top: 0;
  position: fixed;
  left: 16%;
  height: 100%;
  width: 27%;
/*  background: rgba(49, 146, 223, 0.05);*/
/*  background: linear-gradient(to bottom, rgba(255,187,50,0.4) 0%,rgba(254,187,52,0.4) 1%,rgba(125,185,232,0) 100%); /* W3C */
/*  background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(254,187,52,0.4) 99%,rgba(255,187,50,0.4) 100%); /* W3C */
  background: linear-gradient(to bottom, rgba(145,232,66,0.04) 0%, rgba(145,232,66,0.29) 100%);
}
#timezone-m {
  top: 0;
  position: fixed;
  left: 46%;
  height: 100%;
  width: 27%;
/*  background: rgba(49, 146, 223, 0.05);*/
/*  background: linear-gradient(to bottom, rgba(255,187,50,0.4) 0%,rgba(254,187,52,0.4) 1%,rgba(125,185,232,0) 100%); /* W3C */
/*  background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(254,187,52,0.4) 99%,rgba(255,187,50,0.4) 100%); /* W3C */
  background: linear-gradient(to bottom, rgba(145,232,66,0.04) 0%, rgba(145,232,66,0.29) 100%);
}
.step {
  opacity: 1;
}
td {
  padding-bottom: 3em;
}
ul {
  list-style-type: none;
}
li:first-child {
padding-left: 0;
}
li {
  padding-left: 1em;
  padding-bottom: 0.5em;
}
/*.step:not(.active) {*/
/*  -webkit-transition: opacity 1s 5s; */
/*  transition: opacity 1s 5s;*/
/*  opacity: 1;*/
/*}*/
